<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walker.fetchplan.dal.mapper.ScriptDetailMapper">
  <resultMap id="BaseResultMap" type="com.walker.fetchplan.dal.model.ScriptDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="plan_name" jdbcType="VARCHAR" property="planName" />
    <result column="plan_path" jdbcType="VARCHAR" property="planPath" />
    <result column="biz" jdbcType="INTEGER" property="biz" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modif_time" jdbcType="TIMESTAMP" property="modifTime" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, plan_name, plan_path, biz, `status`, create_time, modif_time, submit_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from script_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from script_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.walker.fetchplan.dal.model.ScriptDetail">
    insert into script_detail (id, plan_name, plan_path, 
      biz, `status`, create_time, 
      modif_time, submit_time, remark
      )
    values (#{id,jdbcType=INTEGER}, #{planName,jdbcType=VARCHAR}, #{planPath,jdbcType=VARCHAR}, 
      #{biz,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifTime,jdbcType=TIMESTAMP}, #{submitTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.walker.fetchplan.dal.model.ScriptDetail">
    insert into script_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="planName != null">
        plan_name,
      </if>
      <if test="planPath != null">
        plan_path,
      </if>
      <if test="biz != null">
        biz,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifTime != null">
        modif_time,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planName != null">
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planPath != null">
        #{planPath,jdbcType=VARCHAR},
      </if>
      <if test="biz != null">
        #{biz,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifTime != null">
        #{modifTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.walker.fetchplan.dal.model.ScriptDetail">
    update script_detail
    <set>
      <if test="planName != null">
        plan_name = #{planName,jdbcType=VARCHAR},
      </if>
      <if test="planPath != null">
        plan_path = #{planPath,jdbcType=VARCHAR},
      </if>
      <if test="biz != null">
        biz = #{biz,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifTime != null">
        modif_time = #{modifTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.walker.fetchplan.dal.model.ScriptDetail">
    update script_detail
    set plan_name = #{planName,jdbcType=VARCHAR},
      plan_path = #{planPath,jdbcType=VARCHAR},
      biz = #{biz,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modif_time = #{modifTime,jdbcType=TIMESTAMP},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>